<%- include ('../../partials/header.ejs') %> <%- include
('../../partials/loginNavbar.ejs') %>

<div class="container mb-3 col-md-7">
  <div class="card mt-5">
    <div class="card-header">
      Login de Admin
    </div>
    <div class="card-body">
      <form method="POST" action="/authenticate">
        <div class="mb-3 col-md-auto">
          <label for="validationTooltipUsername">Usuário</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span
                class="input-group-text"
                id="validationTooltipUsernamePrepend"
                >@</span
              >
            </div>
            <input
              class="form-control"
              name="email"
              type="email"
              placeholder="email@exemplo.com"
              id="validationTooltipUsername"
              aria-describedby="validationTooltipUsernamePrepend"
              required
            />
            <div class="invalid-tooltip">
              Por favor, escolha um usuário válido e único.
            </div>
          </div>
        </div>

        <div class="form-group col-md-auto mb-2">
          <label for="inputPassword4">Senha</label>
          <input
            class="form-control"
            name="password"
            type="password"
            id="inputPassword4"
            placeholder="*******"
            required
          />
        </div>

        <button
          type="submit"
          class=" btn btn-outline-success btn-block mt-3 col-md-auto"
        >
          Logar
        </button>
      </form>
    </div>
  </div>
</div>

<%- include ('../../partials/footer.ejs') %>
